@import url(reset.css);
.full(@w, @h, @bg) {
    width: @w;
    height: @h;
    background: @bg;
}
.box(@wer:horizontal) {
    display: -webkit-box;
    -webkit-box-orient: @wer;
}
html,
body,
.warp {
    .full(100%,100%,none);
    font-size: 62.5%;
}
.warp {
    .box(vertical);
    header {
        .box;
        .full(100%,4.4rem,#f7f7f7);
        border-bottom: 1px solid #bfbfbf;
        img:nth-child(1) {
            .full(auto,1.6rem,none);
            margin-top: 1.3rem;
            margin-left: 1.1rem;
        }
        h2 {
            font-size: 1.6rem;
            text-align: center;
            -webkit-box-flex: 1;
            line-height: 4.4rem;
        }
        img:nth-child(3) {
            .full(auto,1.8rem,none);
            margin-top: 1.3rem;
            margin-right: 1.1rem;
        }
    }
    section {
        overflow: auto;
        -webkit-box-flex: 1;
        background: #f2f2f2;
        &::-webkit-scrollbar {
            width: 0;
        }
        .main1 {
            .box;
            .full(100%,2.2rem,#f2f2f2);
            line-height: 2.2rem;
            p {
                margin-left: 1rem;
                a {
                    color: #ff7d1b;
                }
            }
        }
        .main2 {
            .box;
            .full(100%,3.4rem,white);
            .main2_one {
                .box;
                .full(96%,3.4rem,none);
                margin-left: 1.1rem;
                border-bottom: 1px solid #cccccc;
                position: relative;
                h2 {
                    font-size: 1.1rem;
                    color: black;
                    margin-right: 1rem;
                    line-height: 3.4rem;
                }
                input {
                    .box;
                    .full(70%,3rem,none);
                    border: none;
                    outline: none;
                }
                .main2_one_img {
                    .full(auto,1.1rem,none);
                    position: absolute;
                    right: 0.6rem;
                    top: 1.2rem;
                }
                input::-webkit-input-placeholder {
                    color: #a6a6a6;
                    font-size: 1.4rem;
                }
            }
        }
        .main3 {
            .box;
            .full(100%,3.4rem,white);
            .main3_one {
                .box;
                .full(96%,3.4rem,none);
                margin-left: 1.1rem;
                border-bottom: 1px solid #cccccc;
                position: relative;
                h2 {
                    font-size: 1.1rem;
                    color: black;
                    margin-right: 1rem;
                    line-height: 3.4rem;
                }
                input {
                    .box;
                    .full(70%,3rem,none);
                    border: none;
                    outline: none;
                }
                .main3_one_img {
                    .full(auto,1.1rem,none);
                    position: absolute;
                    right: 0.6rem;
                    top: 1.2rem;
                }
                input::-webkit-input-placeholder {
                    color: #a6a6a6;
                    font-size: 1.4rem;
                }
            }
        }
        .main4 {
            .box;
            .full(100%,3.4rem,white);
            .main4_one {
                .box;
                .full(96%,3.4rem,none);
                margin-left: 1.1rem;
                border-bottom: 1px solid #cccccc;
                position: relative;
                h2 {
                    font-size: 1.1rem;
                    color: black;
                    margin-right: 1rem;
                    line-height: 3.4rem;
                }
                input {
                    .box;
                    .full(70%,3rem,none);
                    border: none;
                    outline: none;
                }
                input::-webkit-input-placeholder {
                    color: #a6a6a6;
                    font-size: 1.4rem;
                }
            }
        }
        .main5{
            .box;
            .full(100%,4.2rem,white);
            h2{
                line-height: 4.2rem;
                margin-left: 1rem;
            }
        }
        .main6{
            .box;
            .full(100%,8.5rem,white);
            box-sizing: border-box;
            img{
                .box;
                .full(auto,6.5rem,none);
                padding:0 1.3rem 0 1rem;
                
            }
        }
        .main7{
            .box;
            .full(100%,5rem,white);
            margin-top: 0.5rem;
            .mian7_one{
                .full(100%,3.5rem,none);
                -webkit-box-flex: 1;
                margin-top: 0.8rem;
                margin-left: 1rem;
                h2{
                    line-height: 2rem;
                    img{
                        .full(auto,1.3rem,none);
                        margin-right: 1rem;
                       
                    }
                    a{
                        color: #000000;
                    }
                }
            }
            .m7_img{
                .full(auto,1.1rem,none);
                padding: 2rem 1rem 0 0;
            }
        }
    }
    footer {
        .box;
        .full(100%,4.8rem,white);
        h2 {
            line-height: 4.8rem;
            margin-left: 1rem;
            -webkit-box-flex: 1;
            font-size: 1.4rem;
            color: #333333;
            a {
                color: #ff7d1b;
            }
        }
        .add {
            .full(8rem,4.8rem,#ff7d1b);
            h3 {
                font-size: 1.7rem;
                text-align: center;
                line-height: 4.8rem;
                color: white;
            }
        }
    }
}